{% extends 'layout.html' %}
   {% block content %}
    <div class="row">
        <div class="col">
             <form  method="POST" action="/movies/{{movie.title}}/update">
            <div class="form-group">
                <label for="title">Movie Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}" placeholder="Category title">
            </div>
             <div class="form-group">
                <label for="image">Image Url</label>
                <input type="text" class="form-control" id="image" name="image" value="{{movie.image}}" placeholder="Image Url">
            </div>
            <div class="form-group">
                <label for="description">Movie Description</label>
                <textarea cols="3" class="form-control" id="description" name="description" placeholder="Description">{{movie.description}}</textarea>
            </div>
              <div class="form-group">
                <label for="Category">Select Category</label>
                <select class="form-control" id="Category" name="category_id">
                    {% for cate in allCategory %}
                    <option {% if cate.title==movie.category.title %} selected="selected"{% endif %} value="{{cate.id}}">{{cate.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success float-right">Update</button>
            </div>
         <form>
        </div>
    </div>
   {% endblock %}
